.mat-drawer-container{
  width: auto;
  height: 100vh;
  background-color: #50C5B7;
  border-color: black;
}

.mat-drawer{
  width: 60vh;
  background-color: #50C5B7;
  border: 0px;

}
.mat-toolbar-row{
  background-color: #50C5B7;
}


