<div class="card-group">
  <div class="card">
      <div class="position-absolute top-50 start-50 translate-middle">
        <p style="background-color: #50C5B7; color: #010005; font-weight: bold" style="font-size: 140px ">
          0
        </p>
      </div>
  </div>
  <div class="card">
    <div class="position-absolute top-50 start-50 translate-middle">
      <p style="background-color: #50C5B7; color: #010005; font-weight: bold" style="font-size: 140px ">
        8
      </p>
    </div>
  </div>
  <div class="card">
    <div class="position-absolute top-50 start-50 translate-middle">
      <p style="background-color: #50C5B7; color: #010005; font-weight: bold" style="font-size: 140px ">
        :
      </p>
    </div>
  </div>
  <div class="card">
    <div class="position-absolute top-50 start-50 translate-middle">
      <p style="background-color: #50C5B7; color: #010005; font-weight: bold" style="font-size: 140px ">
        2
      </p>
    </div>
  </div>
  <div class="card">
    <div class="position-absolute top-50 start-50 translate-middle">
      <p style="background-color: #50C5B7; color: #010005; font-weight: bold" style="font-size: 140px ">
        3
      </p>
    </div>
  </div>
  <div class="card">
    <div class="position-absolute top-50 start-50 translate-middle">
      <p style="background-color: #50C5B7; color: #010005; font-weight: bold" style="font-size: 140px ">
        :
      </p>
    </div>
  </div>
  <div class="card">
    <div class="position-absolute top-50 start-50 translate-middle">
      <p style="background-color: #50C5B7; color: #010005; font-weight: bold" style="font-size: 140px ">
        1
      </p>
    </div>
  </div>
  <div class="card">
    <div class="position-absolute top-50 start-50 translate-middle">
      <p style="background-color: #50C5B7; color: #010005; font-weight: bold" style="font-size: 140px ">
        1
      </p>
    </div>
  </div>
</div>
