<form class="row g-3 position-absolute top-20 start-10 translate-start" align="left" >
<div class="row">
  <div class="col">
    <select class="form-select" aria-label="Default select example">
      <option selected>Hora</option>
      <option value="1">01</option>
      <option value="2">02</option>
      <option value="3">03</option>
      <option value="3">04</option>
      <option value="3">05</option>
      <option value="3">06</option>
      <option value="3">07</option>
    </select>
  </div>
  <div class="col">
    <select class="form-select" aria-label="Default select example">
      <option selected>Minutos</option>
      <option value="1">05</option>
      <option value="2">10</option>
      <option value="3">15</option>
      <option value="3">20</option>
      <option value="3">25</option>
      <option value="3">30</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Sonido de Alarma</label>
    <select class="form-select" aria-label="Default select example">
      <option selected>Seleccionar</option>
      <option value="1">Sonido 1</option>
      <option value="2">Sonido 2</option>
      <option value="3">Sonido 3</option>
      <option value="3">Sonido 4</option>
      <option value="3">Sonido 5</option>
      <option value="3">Sonido 6</option>
    </select>
  </div>
  <div class="mb-4">
    <label for="formGroupExampleInput2" class="form-label">Nombre de Alarma</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ingresar">
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">Establecer</button>
  </div>
</div>
</form>
