
.mat-card{
  padding: 10px;
  background-color: #50C5B7;
  border: 10vh;
  margin-top: 70px;
  border-bottom: 15px;
  border-top: 15px;
  margin-left: 40px;
  border: 5px solid dark;
  width: 420px;
  margin: 5%;
  padding: 10%;
}

img { float: right; width: 6em; height: 7em; margin-right: 1em; }


